{% extends 'base.html' %}
{% load static %}

{% block title %}Пароль изменён{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/pages/form.css' %}">
{% endblock %}

{% block scripts_js %}
{% endblock %}

{% block content %}
{# загружаем фильтр #}
{% load user_filters %}

<div class="main__header">
    <h1 class="main__title">Пароль изменён</h1>
</div>
<div class="form-container">
    <div class="form" method="post">
        <p class="form__info-text">Пароль изменён успешно.</p>
    </div>
</div>

{% endblock %}