{% extends 'base.html' %}
{% load static %}

{% block title %}Избранное{% endblock %}

{% block nav %}
{% include 'nav.html' with favorites=True %}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/pages/index.css' %}">
{% endblock %}

{% block scripts_js %}
<script src="{% static 'js/components/MainCards.js' %}"></script>

<script src="{% static 'js/components/Purchases.js' %}"></script>
{% if user.is_authenticated %}
<script src="{% static 'js/components/Favorites.js' %}"></script>
{% endif %}

<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/CardList.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>

<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'js/pages/favorite.js' %}"></script>
{% endblock %}

{% block content %}
{% csrf_token %}
<div class="main__header">
    <h1 class="main__title">Избранное</h1>
    <!-- Вывод фильтра по тегам -->
    {% include 'tag_filter.html' with breakfast=breakfast lunch=lunch dinner=dinner%}
</div>
<div class="card-list">
    {% for recipe in page %}
    {% include 'recipe_item.html' with recipe=recipe %}
    {% empty %}
    <h3 class="card__title">Тут пока пусто...</h3>
    {% endfor %}
</div>

<!-- Вывод паджинатора -->
{% if page.has_other_pages %}
{% include 'paginator.html' with items=page paginator=paginator%}
{% endif %}

{% endblock %}