{% extends 'base.html' %}
{% load static %}
{% load recipe_filters %}

{% block title %}{{ recipe.title }}{% endblock %}

{% block nav %}
{% include 'nav.html' with index=True %}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/pages/single.css' %}">
{% endblock %}

{% block scripts_js %}
<script src="{% static 'js/components/MainCards.js' %}"></script>

<script src="{% static 'js/components/Purchases.js' %}"></script>
{% if user.is_authenticated %}
<script src="{% static 'js/components/Favorites.js' %}"></script>
<script src="{% static 'js/components/Subscribe.js' %}"></script>
{% endif %}

<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/SingleCard.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>

<script src="{% static 'js/api/Api.js' %}"></script>
{% if user.is_authenticated %}
<script src="{% static 'js/pages/singlePage.js' %}"></script>
{% else %}
<script src="{% static 'js/pages/singlePageNotAuth.js' %}"></script>
{% endif %}
{% endblock %}

{% block content %}
{% csrf_token %}
<div class="single-card" data-id="{{ recipe.id }}" data-author="{{ recipe.author.id }}">
    {% load thumbnail %}
    {% thumbnail recipe.image "480x480" crop="center" upscale=True as im %}
    <img class="single-card__image" src="{{ im.url }}" alt="{{ recipe.title }}" />
    {% endthumbnail %}
    <div class="single-card__info">
        <div class="single-card__header-info">
            <h1 class="single-card__title">{{ recipe.title }}</h1>
            {% if user.is_authenticated %}
            <div class="single-card__favorite">
                <button class="button button_style_none" name="favorites" {% if not favorite %}data-out{% endif %}>
                    <span
                        class="icon-favorite icon-favorite_big {% if favorite %}icon-favorite_active{% endif %}"></span>
                </button>
                {% if favorite %}
                <div class="single-card__favorite-tooltip tooltip">Убрать из избранного</div>
                {% else %}
                <div class="single-card__favorite-tooltip tooltip">Добавить в избранное</div>
                {% endif %}
            </div>
            {% endif %}
        </div>
        <ul class="single-card__items">
            {% if 'breakfast' in recipe.tags %}
            <li class="single-card__item"><span class="badge badge_style_orange">Завтрак</span></li>
            {% endif%}
            {% if 'lunch' in recipe.tags %}
            <li class="single-card__item"><span class="badge badge_style_green">Обед</span></li>
            {% endif%}
            {% if 'dinner' in recipe.tags %}
            <li class="single-card__item"><span class="badge badge_style_purple">Ужин</span></li>
            {% endif%}
        </ul>
        <div class="single-card__items single-card__items_column">
            <p class="single-card__text"><span class="icon-time"></span> {{ recipe.time }} мин.</p>
            {% if user == recipe.author %}
            <ul class="single-card__items">
                <li class="single-card__item">
                    <p class="single-card__text"><span class="icon-user"></span>
                        {% if recipe.author.get_full_name %}
                        {{ recipe.author.get_full_name }}
                        {% else %}
                        {{ recipe.author.username }}
                        {% endif %}
                    </p>
                </li>
                <li class="single-card__item">
                    <a style="margin-left: 2.5em" href="{% url 'edit_recipe' recipe.slug recipe.id %}"
                        class="single-card__text">
                        Редактировать рецепт
                    </a>
                </li>
            </ul>
            {% else %}
            <p class="single-card__text"><span class="icon-user"></span>
                {% if recipe.author.get_full_name %}
                {{ recipe.author.get_full_name }}
                {% else %}
                {{ recipe.author.username }}
                {% endif %}
            </p>
            {% endif %}
        </div>
        <ul class="single-card__items">
            <li class="single-card__item">
                {% in_purchases request recipe.id as in_purchases %}
                {% if in_purchases %}
                <button class="button button_style_light-blue-outline" name="purchases">
                    <span class="icon-check button__icon"></span> Рецепт добавлен
                </button>
                {% else %}
                <button class="button button_style_blue" name="purchases" data-out>
                    <span class="icon-plus button__icon"></span> Добавить в покупки
                </button>
                {% endif %}
            </li>
            {% if recipe.author != user and user.is_authenticated %}
            <!-- Подписка на пользователя -->
            <li class="single-card__item">
                {% if subscription %}
                <button class="button button_style_light-blue button_size_subscribe" name="subscribe">Отписаться от
                    автора</button>
                {% else %}
                <button class="button button_style_light-blue button_size_subscribe" name="subscribe"
                    data-out>Подписаться на автора</button>
                {% endif %}
            </li>
            {% endif %}
        </ul>
        <div class="single-card__section">
            <h3 class="single-card__section-title">Ингридиенты:</h3>
            <div class="single-card__items single-card__items_column">
                {% for ingredient in recipe.ingredients.all %}
                <p class=" single-card__section-item">
                    {{ ingredient.name }} - {{ ingredient.value|floatformat:'-2' }} {{ ingredient.units }}
                </p>
                {% endfor %}
            </div>
        </div>
        <div class="single-card__section">
            <h3 class="single-card__section-title">Описание:</h3>
            <p class=" single-card__section-text">{{ recipe.description|linebreaksbr }}</p>
        </div>
    </div>
</div>

{% endblock %}